<div id="exercise-2-area">
    <div id="exercise-2-statement"></div>
    <fieldset>
        <legend>
            <h4>#exercise-2</h4>
        </legend>
        <div id="exercise-2">
<pre><code>{
"people": [
    { "name": "Gonzalo", "lastName": "Pincheira", "age": 31, "address": "Winterfell"},
    { "name": "Tamara",  "lastName": "Acevedo", "age": 30, "address": "Winterfell"},
    { "name": "German",  "lastName": "Labra", "age": 22, "address": "Bravos"},
    { "name": "Sebastián",  "lastName": "Jimenez", "age": 34, "address": "King's Landing"}
]
}
</code></pre>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            <h4>#exercise-result-2</h4>
        </legend>
        <div id="exercise-result-2"></div>
    </fieldset>
    <div id="exercise-result-2"></div>
</div>
