<div id="exercise-area-2">
    <div id="exercise-2-statement"></div>
    <fieldset>
        <legend>
            <h4>#exercise-2</h4>
        </legend>
        <div id="exercise-2">
<pre><code>{
"people": [
{ "name": "Gonzalo", "lastName": "Pincheira", "age": 31, "address": "San Isidro 151"},
{ "name": "Tamara",  "lastName": "Acevedo", "age": 30, "address": "San Isidro 151"}
]
}
</code></pre>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            <h4>#exercise-result-2</h4>
        </legend>
        <div id="exercise-result-2"></div>
    </fieldset>
    <div id="exercise-result-2"></div>
</div>
